In [1]:
import pandas as pd
import os

In [50]:
os.chdir("C:\QTM")
dt= pd.ExcelFile('Ecommerce_data.xlsx')
dt

In [51]:
print(dt.sheet_names)

['Orders', 'Returns', 'People']

In [53]:
orders_sv = pd.read_excel(dt, 'Orders')
returns_sv = pd.read_excel(dt, 'Returns')
people_sv = pd.read_excel(dt, 'People')

In [54]:
orders_sv.head(), returns_sv.head(), people_sv.head()

(   Row ID                  Order ID Order Date  Ship Date     Ship Mode  \
 0   40098  CA-2014-AB10015140-41954 2014-11-11 2014-11-13   First Class
 1   26341    IN-2014-JR162107-41675 2014-02-05 2014-02-07  Second Class
 2   25330    IN-2014-CR127307-41929 2014-10-17 2014-10-18   First Class
 3   13524   ES-2014-KM1637548-41667 2014-01-28 2014-01-30   First Class
 4   47221   SG-2014-RH9495111-41948 2014-11-05 2014-11-06      Same Day

     Customer ID     Customer Name      Segment  Postal Code           City  \
 0  AB-100151402     Aaron Bergman     Consumer      73120.0  Oklahoma City
 1     JR-162107     Justin Ritter    Corporate          NaN     Wollongong
 2     CR-127307      Craig Reiter     Consumer          NaN       Brisbane
 3    KM-1637548  Katherine Murray  Home Office          NaN         Berlin
 4    RH-9495111       Rick Hansen     Consumer          NaN          Dakar

    ... Sub-Category                               Product Name     Sales  \
 0  ...       Phones                           Samsung Convoy 3   221.980
 1  ...       Chairs  Novimex Executive Leather Armchair, Black  3709.395
 2  ...       Phones          Nokia Smart Phone, with Caller ID  5175.171
 3  ...       Phones             Motorola Smart Phone, Cordless  2892.510
 4  ...      Copiers             Sharp Wireless Fax, High-Speed  2832.960

   Quantity Discount    Profit Shipping Cost Order Priority  Unnamed: 24  \
 0        2      0.0   62.1544         40.77           High          NaN
 1        9      0.1 -288.7650        923.63       Critical          NaN
 2        9      0.1  919.9710        915.49         Medium          NaN
 3        5      0.1  -96.5400        910.16         Medium          NaN
 4        8      0.0  311.5200        903.04       Critical          NaN

    Unnamed: 25
 0          NaN
 1          2.0
 2          1.0
 3          2.0
 4          1.0

 [5 rows x 26 columns],
   Returned                  Order ID        Region
 0      Yes  CA-2012-SA20830140-41210    Central US
 1      Yes  IN-2012-PB19210127-41259  Eastern Asia
 2      Yes  CA-2012-SC20095140-41174    Central US
 3      Yes    IN-2015-JH158207-42140       Oceania
 4      Yes    IN-2014-LC168857-41747       Oceania,
               Person           Region
 0  Marilène Rousseau        Caribbean
 1   Andile Ihejirika   Central Africa
 2  Nicodemo Bautista  Central America
 3     Cansu Peynirci     Central Asia
 4         Lon Bonher       Central US)

In [55]:
merged_sv = pd.merge(orders_sv, returns_sv, on='Order ID')
merged_sv

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,...,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,Unnamed: 24,Unnamed: 25,Returned,Region_y
0,30191,IN-2012-PB19210127-41259,2012-12-16,2012-12-19,First Class,PB-19210127,Phillip Breyer,Corporate,NaN,Taipei,...,1715.160,2,0.0,720.3600,725.570,Critical,NaN,NaN,Yes,Eastern Asia
1,30190,IN-2012-PB19210127-41259,2012-12-16,2012-12-19,First Class,PB-19210127,Phillip Breyer,Corporate,NaN,Taipei,...,2197.500,5,0.0,153.7500,627.270,Critical,NaN,NaN,Yes,Eastern Asia
2,30187,IN-2012-PB19210127-41259,2012-12-16,2012-12-19,First Class,PB-19210127,Phillip Breyer,Corporate,NaN,Taipei,...,1356.030,3,0.0,311.8500,458.970,Critical,NaN,NaN,Yes,Eastern Asia
3,30193,IN-2012-PB19210127-41259,2012-12-16,2012-12-19,First Class,PB-19210127,Phillip Breyer,Corporate,NaN,Taipei,...,882.150,5,0.0,114.6000,203.920,Critical,NaN,NaN,Yes,Eastern Asia
4,30189,IN-2012-PB19210127-41259,2012-12-16,2012-12-19,First Class,PB-19210127,Phillip Breyer,Corporate,NaN,Taipei,...,148.320,3,0.0,68.2200,25.480,Critical,NaN,NaN,Yes,Eastern Asia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2215,35040,CA-2014-WB21850140-41654,2014-01-15,2014-01-21,Standard Class,WB-218501406,William Brown,Consumer,10011.0,New York City,...,49.536,3,0.2,17.3376,2.670,Medium,NaN,NaN,Yes,Eastern US
2216,35038,CA-2014-WB21850140-41654,2014-01-15,2014-01-21,Standard Class,WB-218501406,William Brown,Consumer,10011.0,New York City,...,16.520,4,0.0,7.5992,1.690,Medium,NaN,NaN,Yes,Eastern US
2217,25,US-2013-SJ2021582-41543,2013-09-26,2013-09-29,First Class,SJ-2021582,Sarah Jordon,Consumer,NaN,Hermosillo,...,181.116,9,0.4,-75.5640,1.085,Medium,NaN,NaN,Yes,Central America
2218,36974,CA-2012-ZC21910140-41271,2012-12-28,2013-01-04,Standard Class,ZC-219101402,Zuschuss Carroll,Consumer,60610.0,Chicago,...,38.976,3,0.6,-50.6688,5.290,Low,NaN,NaN,Yes,Central US
2219,41315,EG-2014-PM894038-41846,2014-07-26,2014-07-30,Standard Class,PM-894038,Paul MacIntyre,Consumer,NaN,Alexandria,...,25.830,1,0.0,9.0300,1.050,Medium,NaN,NaN,Yes,North Africa

In [56]:
merged_sv.shape

(2220, 28)

In [57]:
merged_sv.isnull().any().sum()

3

In [59]:
bv = merged_sv.dropna(axis=1)

In [60]:
bv.shape

(2220, 25)

In [61]:
list(bv)

['Row ID',
 'Order ID',
 'Order Date',
 'Ship Date',
 'Ship Mode',
 'Customer ID',
 'Customer Name',
 'Segment',
 'City',
 'State',
 'Country',
 'Region_x',
 'Market',
 'Product ID',
 'Category',
 'Sub-Category',
 'Product Name',
 'Sales',
 'Quantity',
 'Discount',
 'Profit',
 'Shipping Cost',
 'Order Priority',
 'Returned',
 'Region_y']

## 1.What is the total value of the order that returned?

In [62]:
total_returned_value = bv['Sales'].sum()
print('The Total Returned Value is',total_returned_value)

The Total Returned Value is 525932.22736

## 2.What is the total returned value by region?

In [63]:
returned_value_by_region = bv.groupby(['Region_y'])[['Sales']].sum()
returned_value_by_region

                         Sales
Region_y
Caribbean           9679.32828
Central Africa      4038.48000
Central America    44334.79916
Central Asia         359.03100
Central US         23306.14500
Eastern Africa      2026.44000
Eastern Asia       47798.04300
Eastern Canada      2639.91000
Eastern Europe      9501.21000
Eastern US         23477.32600
North Africa       10193.37000
Northern Europe    17768.64000
Oceania            46943.33100
South America      29845.11212
Southeastern Asia  36967.09830
Southern Africa     7321.86000
Southern Asia      25159.36500
Southern Europe    34226.34300
Southern US        17024.59700
Western Africa      3928.15800
Western Asia       11737.63800
Western Canada       676.50000
Western Europe     72669.48450
Western US         44310.01800

## 4. What is total number of products returned whose unit price is more than 100dollars?

In [64]:
bv['Unit Price'] = bv['Sales'] / bv['Quantity']
bv

C:\Users\saiva\AppData\Local\Temp\ipykernel_27356\1564011453.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bv['Unit Price'] = bv['Sales'] / bv['Quantity']

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,Returned,Region_y,Unit Price
0,30191,IN-2012-PB19210127-41259,2012-12-16,2012-12-19,First Class,PB-19210127,Phillip Breyer,Corporate,Taipei,Taipei City,...,"Lesro Conference Table, with Bottom Storage",1715.160,2,0.0,720.3600,725.570,Critical,Yes,Eastern Asia,857.580
1,30190,IN-2012-PB19210127-41259,2012-12-16,2012-12-19,First Class,PB-19210127,Phillip Breyer,Corporate,Taipei,Taipei City,...,"Safco Classic Bookcase, Pine",2197.500,5,0.0,153.7500,627.270,Critical,Yes,Eastern Asia,439.500
2,30187,IN-2012-PB19210127-41259,2012-12-16,2012-12-19,First Class,PB-19210127,Phillip Breyer,Corporate,Taipei,Taipei City,...,"Lesro Round Table, with Bottom Storage",1356.030,3,0.0,311.8500,458.970,Critical,Yes,Eastern Asia,452.010
3,30193,IN-2012-PB19210127-41259,2012-12-16,2012-12-19,First Class,PB-19210127,Phillip Breyer,Corporate,Taipei,Taipei City,...,"Office Star Swivel Stool, Adjustable",882.150,5,0.0,114.6000,203.920,Critical,Yes,Eastern Asia,176.430
4,30189,IN-2012-PB19210127-41259,2012-12-16,2012-12-19,First Class,PB-19210127,Phillip Breyer,Corporate,Taipei,Taipei City,...,"Okidata Calculator, Red",148.320,3,0.0,68.2200,25.480,Critical,Yes,Eastern Asia,49.440
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2215,35040,CA-2014-WB21850140-41654,2014-01-15,2014-01-21,Standard Class,WB-218501406,William Brown,Consumer,New York City,New York,...,"Square Ring Data Binders, Rigid 75 Pt. Covers,...",49.536,3,0.2,17.3376,2.670,Medium,Yes,Eastern US,16.512
2216,35038,CA-2014-WB21850140-41654,2014-01-15,2014-01-21,Standard Class,WB-218501406,William Brown,Consumer,New York City,New York,...,"#10 Gummed Flap White Envelopes, 100/Box",16.520,4,0.0,7.5992,1.690,Medium,Yes,Eastern US,4.130
2217,25,US-2013-SJ2021582-41543,2013-09-26,2013-09-29,First Class,SJ-2021582,Sarah Jordon,Consumer,Hermosillo,Sonora,...,"Deflect-O Clock, Black",181.116,9,0.4,-75.5640,1.085,Medium,Yes,Central America,20.124
2218,36974,CA-2012-ZC21910140-41271,2012-12-28,2013-01-04,Standard Class,ZC-219101402,Zuschuss Carroll,Consumer,Chicago,Illinois,...,Tenex Chairmats For Use with Hard Floors,38.976,3,0.6,-50.6688,5.290,Low,Yes,Central US,12.992
2219,41315,EG-2014-PM894038-41846,2014-07-26,2014-07-30,Standard Class,PM-894038,Paul MacIntyre,Consumer,Alexandria,Al Iskandariyah,...,"Sanford Pencil Sharpener, Fluorescent",25.830,1,0.0,9.0300,1.050,Medium,Yes,North Africa,25.830

In [65]:
bv1 = bv[bv['Unit Price'] > 100]
total_returned_products = bv1['Quantity'].sum()
print('The Total Returned Products is', total_returned_products)

The Total Returned Products is 1607

## 5. How many of the orders deliverd on the same day, 7days, 15days and >30 days?

In [66]:
bv['delivery_days'] = (bv['Ship Date'] - bv['Order Date']).dt.days
bv

C:\Users\saiva\AppData\Local\Temp\ipykernel_27356\2590732990.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bv['delivery_days'] = (bv['Ship Date'] - bv['Order Date']).dt.days

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,Returned,Region_y,Unit Price,delivery_days
0,30191,IN-2012-PB19210127-41259,2012-12-16,2012-12-19,First Class,PB-19210127,Phillip Breyer,Corporate,Taipei,Taipei City,...,1715.160,2,0.0,720.3600,725.570,Critical,Yes,Eastern Asia,857.580,3
1,30190,IN-2012-PB19210127-41259,2012-12-16,2012-12-19,First Class,PB-19210127,Phillip Breyer,Corporate,Taipei,Taipei City,...,2197.500,5,0.0,153.7500,627.270,Critical,Yes,Eastern Asia,439.500,3
2,30187,IN-2012-PB19210127-41259,2012-12-16,2012-12-19,First Class,PB-19210127,Phillip Breyer,Corporate,Taipei,Taipei City,...,1356.030,3,0.0,311.8500,458.970,Critical,Yes,Eastern Asia,452.010,3
3,30193,IN-2012-PB19210127-41259,2012-12-16,2012-12-19,First Class,PB-19210127,Phillip Breyer,Corporate,Taipei,Taipei City,...,882.150,5,0.0,114.6000,203.920,Critical,Yes,Eastern Asia,176.430,3
4,30189,IN-2012-PB19210127-41259,2012-12-16,2012-12-19,First Class,PB-19210127,Phillip Breyer,Corporate,Taipei,Taipei City,...,148.320,3,0.0,68.2200,25.480,Critical,Yes,Eastern Asia,49.440,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2215,35040,CA-2014-WB21850140-41654,2014-01-15,2014-01-21,Standard Class,WB-218501406,William Brown,Consumer,New York City,New York,...,49.536,3,0.2,17.3376,2.670,Medium,Yes,Eastern US,16.512,6
2216,35038,CA-2014-WB21850140-41654,2014-01-15,2014-01-21,Standard Class,WB-218501406,William Brown,Consumer,New York City,New York,...,16.520,4,0.0,7.5992,1.690,Medium,Yes,Eastern US,4.130,6
2217,25,US-2013-SJ2021582-41543,2013-09-26,2013-09-29,First Class,SJ-2021582,Sarah Jordon,Consumer,Hermosillo,Sonora,...,181.116,9,0.4,-75.5640,1.085,Medium,Yes,Central America,20.124,3
2218,36974,CA-2012-ZC21910140-41271,2012-12-28,2013-01-04,Standard Class,ZC-219101402,Zuschuss Carroll,Consumer,Chicago,Illinois,...,38.976,3,0.6,-50.6688,5.290,Low,Yes,Central US,12.992,7
2219,41315,EG-2014-PM894038-41846,2014-07-26,2014-07-30,Standard Class,PM-894038,Paul MacIntyre,Consumer,Alexandria,Al Iskandariyah,...,25.830,1,0.0,9.0300,1.050,Medium,Yes,North Africa,25.830,4

In [67]:
same_day = bv[bv['delivery_days'] == 0].shape[0]
within_7_days = bv[(bv['delivery_days'] > 0) & (bv['delivery_days'] <= 7)].shape[0]
within_15_days = bv[(bv['delivery_days'] > 7) & (bv['delivery_days'] <= 15)].shape[0]
more_than_30_days = bv[bv['delivery_days'] > 30].shape[0]

In [35]:
print(f"Same Day: {same_day}")
print(f"Within 7 Days: {within_7_days}")
print(f"Within 15 Days: {within_15_days}")
print(f"More than 30 Days: {more_than_30_days}")

Same Day: 115
Within 7 Days: 2105
Within 15 Days: 0
More than 30 Days: 0

## 6. Check the relationship between price and quantity?

In [36]:
from scipy.stats import pearsonr

In [68]:
 pearsonr(bv['Unit Price'],ec['Quantity'])

PearsonRResult(statistic=-0.028330344451430955, pvalue=0.18208808203216745)

Inference
The r value = -0.028 so it is a negative correlation. It Indicates almost no linear relationship between the unit price and quantity.
A negative value suggests that there might be a very weak inverse relationship, meaning as the price increases, the quantity might decrease slightly, but the effect is negligible.

## 7. Use the calculation from question 5 and order priority. Check is there any relationship between order priority and days taken.

In [38]:
from scipy import stats

In [69]:
priority_delivery_stats = bv.groupby('Order Priority')['delivery_days'].describe()
print(priority_delivery_stats)

                 count      mean       std  min  25%  50%  75%  max
Order Priority
Critical         188.0  1.750000  1.135829  0.0  1.0  2.0  3.0  3.0
High             643.0  3.205288  1.453807  0.0  2.0  4.0  4.0  5.0
Low              125.0  6.552000  0.499290  6.0  6.0  7.0  7.0  7.0
Medium          1264.0  4.528481  1.393053  0.0  4.0  5.0  5.0  7.0

In [70]:
anova_result = stats.f_oneway(
    bv[bv['Order Priority'] == 'Low']['delivery_days'],
    bv[bv['Order Priority'] == 'Medium']['delivery_days'],
    bv[bv['Order Priority'] == 'High']['delivery_days'],
    bv[bv['Order Priority'] == 'Critical']['delivery_days'])

print(f"ANOVA result: {anova_result}")

ANOVA result: F_onewayResult(statistic=456.90010105295534, pvalue=4.523164187330846e-231)

The p-value from the ANOVA test is less than 0.05, it indicates a statistically significant difference in delivery times between different order priority levels.

## 3. What is the total returned value for category and sub_category using product id?

In [71]:
bv2 = pd.ExcelFile('Ecommerce_data.xlsx')
bv2

In [72]:
orders_df = pd.read_excel(bv2, 'Orders')
returns_df = pd.read_excel(bv2, 'Returns')

In [47]:
merged_df = pd.merge(orders_df, returns_df, on='Order ID')

In [73]:
returned_value_by_category = merged_df.groupby(['Category', 'Sub-Category'])[['Sales']].sum()
returned_value_by_category

                                    Sales
Category        Sub-Category
Furniture       Bookcases     60710.99170
                Chairs        57439.11790
                Furnishings   16581.79860
                Tables        33283.15700
Office Supplies Appliances    32975.10160
                Art           16221.50620
                Binders       23571.83300
                Envelopes      6784.22590
                Fasteners      3098.36380
                Labels         3349.15170
                Paper          9928.68380
                Storage       52938.56010
                Supplies       8327.68320
Technology      Accessories   33991.09180
                Copiers       65145.83696
                Machines      32550.62610
                Phones        69034.49800